node_modules/
.git
.git/
.gitmodules
.settings/
.idea/
.gitattributes
.editorconfig
.github/
.travis.yml
.vscode/
package-lock.json
yarn.lock
.yarnrc
.DS_Store
Dockerfile
.dockerignore
tmp
doc
docs
coverage/
test/
